#info-cart h2 {
    text-align: center;
    margin-bottom: 16px;
}

#info-cart table {
    margin-bottom: 16px;
}

.order-form {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-form .pay-form label {
    min-width: 200px;
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 600;
}

.order-form .pay-form form button {
    float: right;
}

.cart-section {
    pointer-events: none;
}

td {
    display: table-cell;
    vertical-align: middle;
}
