.btn {
  box-shadow: none;
  border-radius: 8px;
}

.btn:focus {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-active-bg);
  box-shadow: none;
}

.btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-active-bg);
}

.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #fff;
  background-color: var(--bg-opacity-light);
  border-color: var(--bg-opacity-light);
}
