// ============== Containers ==============
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

// ============== Spacing ==============
.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

// ============== Sizing ==============
.h-100 {
  height: 100%;
}

// ============== Columns ==============
.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.col {
  padding: 0 8px;
}

.col-2 {
  width: calc(100% / 2);
}

.col-3 {
  width: calc(100% / 3);
}

.col-4 {
  width: calc(100% / 4);
}

.col-5 {
  width: calc(100% / 5);
}

// ============ Display ============
.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

// ============ Buttons ============
.btn {
  box-shadow: none;
  border-radius: 8px;
}

.btn:focus {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-active-bg);
  box-shadow: none;
}

.btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-active-bg);
}

.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #fff;
  background-color: var(--bg-opacity-light);
  border-color: var(--bg-opacity-light);
}

// ============ Animations ============
@keyframes fadeInTop {
  0% {
    opacity: 0;
    top: calc(100% - 20px);
  }
  100% {
    opacity: 1;
    top: 100%;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(calc(100% + 15px));
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translate(0);
  }

  100% {
    opacity: 0;
    transform: translateX(calc(100% + 15px));
  }
}

// ============ Main ============
body {
  font-family: $font-family;
  background-color: $primary-bg-color;
}

#main {
  margin-top: $header-height + 16px;
}
