.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.col {
  padding: 0 8px;
}

.col-2 {
  width: calc(100% / 2);
}

.col-3 {
  width: calc(100% / 3);
}

.col-4 {
  width: calc(100% / 4);
}

.col-5 {
  width: calc(100% / 5);
}
