/* ======== ANIMATION ======== */
@keyframes fadeInTop {
  0% {
    opacity: 0;
    top: calc(100% - 20px);
  }
  100% {
    opacity: 1;
    top: 100%;
  }
}
@keyframes fadeOutTop {
  0% {
    opacity: 1;
    top: 100%;
  }
  100% {
    opacity: 0;
    top: calc(100% - 20px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(calc(100% + 15px));
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translate(0);
  }

  100% {
    opacity: 0;
    transform: translateX(calc(100% + 15px));
  }
}
