#section-controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-features ul {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 4px 8px;
  border-radius: 26px;
  overflow: hidden;
  user-select: none;
}

.control-features li {
  display: inline-block;
  text-align: center;
}

.control-features .control-btn,
.control-features .control-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 20px;
  padding: 8px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}

.control-features .control-btn:hover,
.control-features .control-checkbox:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.control-features .control-checkbox {
  height: 20px;
  width: 20px;
}
