.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group + .form-group {
  margin-top: 16px;
}

.form-label {
  width: 140px;
  max-width: 140px;
  font-size: 16px;
  font-weight: 500;
}

.form-input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border-radius: 8px;
  box-sizing: content-box;
}
.form-right {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
