.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 6px;
}

.table tbody tr {
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  transition: 0.1s;
}

.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.table th:first-child,
.table td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.table th:last-child,
.table td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.table thead th {
  font-weight: 600;
}

.table td,
.table th {
  padding: 12px;
}

.table .table__thead--bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.table .table__row--center {
  text-align: center;
  vertical-align: middle;
}

.table .table__col {
  font-size: 18px;
  color: #333;
  background-color: rgba(0, 0, 0, 0.1);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}

.table .table__col:hover {
  color: #fff;
  background-color: var(--primary-color);
}
