.table {
  width: 100%;
}

.table tbody tr {
  border-bottom: 1px solid #858b92;
  background-color: #fff;
  transition: 0.1s;
}

.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.table th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.table th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.table th {
  font-weight: 600;
}

.table td,
.table th {
  padding: 12px;
}

.table .row-bg-black {
  background-color: var(--primary-color);
  color: #fff;
}

.text-center {
  text-align: center;
}

.vertical-align {
  vertical-align: middle;
}

.table .col-center {
  text-align: center;
  vertical-align: middle;
}

.table .table-col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}

.table .table-col:hover {
  background-color: var(--primary-color);
}

.table .table-col input {
  cursor: pointer;
  margin: 0;
}
