#toast-container {
  position: fixed;
  top: 22px;
  right: 22px;
  z-index: 1000;
}

.toast {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-left: 4px solid;
  border-radius: 4px;
  padding: 20px 0;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  min-width: 400px;
  max-width: 450px;
  transition: all 0.4s linear;
}

.toast__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.toast + .toast {
  margin-top: 24px;
}

.toast--success {
  border-left-color: #45d763;
}

.toast--success .toast__icon {
  color: #45d763;
}

.toast--warning {
  border-left-color: #fdc123;
}

.toast--warning .toast__icon {
  color: #fdc123;
}

.toast--error {
  border-left-color: #f44336;
}

.toast--error .toast__icon {
  color: #f44336;
}

.toast--info {
  border-left-color: #3086eb;
}

.toast--info .toast__icon {
  color: #3086eb;
}

.toast__icon,
.toast__close {
  display: flex;
  padding: 0 16px;
}

.toast__icon {
  font-size: 24px;
}

.toast__title {
  font-size: 17px;
  font-weight: 700;
  color: #333;
  margin-right: auto;
}

.toast__close {
  font-size: 24px;
  color: #000;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.2s ease;
}

.toast__close:hover {
  opacity: 1;
}

.toast__body {
  padding-left: 16px;
  flex-grow: 1;
  margin-top: 6px;
}

.toast__msg {
  font-size: 15px;
  color: #777;
  line-height: 1.5;
}
