/* ================== Libary ================== */
@import url('./style.css');
@import url('./libary/index.css');

/* ================== Main ================== */
#content-header {
  margin-top: 16px;
}
#content-body {
  margin-top: 16px;
}
h1 {
  font-size: 28px;
  font-weight: 500;
  color: var(--primary-color);
}
.control-search input {
  width: 250px;
  height: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  font-size: 15px;
  padding: 12px;
  border-radius: 12px;
}
#section-table {
  margin-top: 12px;
}
.form-group .form-label {
  color: var(--primary-color);
}
.form-group .form-input {
  color: #000;
  border: 1px solid #d4d4d4;
}
