header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: #212429;
    width: calc(100vw - var(--sidebar-width));
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.2s;
}

.nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: var(--header-height);
    border-bottom: 1px solid #565e6d;
}

.nav-header ul {
    display: flex;
}
