/* ================== Libary ================== */
@import url('./style.css');
@import url('./libary/table.css');
@import url('./libary/control.css');
@import url('./libary/toast.css');

/* ================== Main ================== */
.control__search input {
  width: 250px;
  height: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  font-size: 15px;
  padding: 12px;
  border-radius: 12px;
}

.table-content {
  margin-top: 12px;
}