/* ================== Libary ================== */
@import url('./libary/table.css');

/* ================== Main ================== */
.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control__feature ul {
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  overflow: hidden;
  user-select: none;
  display: flex;
  align-items: center;
}

.control__feature li {
  display: inline-block;
  text-align: center;
}

.control__feature .control__icon,
.control__feature .control__checkbox {
  display: inline-block;
  padding: 10px;
  font-size: 22px;
  color: var(--primary-color);
  transition: 0.2s;
  cursor: pointer;
}

.control__feature .control__icon:hover,
.control__feature .control__checkbox:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.control__feature .control__checkbox {
  height: 26px;
  width: 26px;
}

.table-content {
  margin-top: 16px;
}
