/* ================== Libary ================== */
@import url('./style.css');
@import url('./libary/index.css');

/* ================== Main ================== */
.control__search input {
  width: 250px;
  height: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  font-size: 15px;
  padding: 12px;
  border-radius: 12px;
}

.table-content {
  margin-top: 12px;
}

.form-group .form-label {
  color: #333;
}
.form-group .form-input {
  color: #000;
  border: 1px solid #d4d4d4;
}
