@import url('../../../assets/css/style-global.css');
@import url('../css/variable.css');
@import url('../css/header.css');
@import url('../css/sidebar.css');

html {
    overflow: hidden !important;
}

#wrapper {
    display: flex;
    justify-content: space-between;
}

.sidebar-offcanvas {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    height: 100%;
    width: var(--sidebar-width);
    background-color: #212429;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    user-select: none;
}

.page-body-wrapper {
    margin-left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    min-height: 100vh;
    transition: all 0.2s;
}

#content {
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    background-color: #f4f6f9;
    overflow-y: auto;
    overflow-x: hidden;
}

#content .header-content {
    height: var(--content-header-height);
    display: flex;
    align-items: center;
}

.header-content .title-content {
    font-size: 24px;
    margin: 0;
}

#content #main-content {
    height: var(--main-content-height);
}

.toast-success {
    background-color: #188754;
    color: #fff;
}

.toast-error {
    background-color: #dc3546;
    color: #fff;
}

.toast-info {
    background-color: #0d6efd;
    color: #fff;
}

#content::-webkit-scrollbar-track {
    background-color: #aaa;
}

#content::-webkit-scrollbar {
    width: 6px;
}

#content::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
}
