:root {
    --header-height: 62px;
    --content-header-height: 50px;
    --main-content-height: calc(
        100vh - (var(--header-height) + var(--content-header-height))
    );
    --sidebar-width: 250px;
    --shrink-sidebar-width: 70px;
    --global-font-text: Helvetica, Arial, sans-serif;
}
